---
---

// Colors
$primary-color: #7BF;

// Fonts
$font-sans: 'Lato', sans-serif;
$font-serif: 'Merriweather', serif;

// Animation speeds
$animation-instant: 0.2s;

@import "bourbon/bourbon";
@import "neat/neat";

body {
	font-family: $font-serif;
	font-size: 130%;
	@include outer-container(80%);
	padding-top: 175px;
	background-color: #FFF;
	color: #303030;
}

h1, h2, h3, h4 {
	font-family: $font-sans;
	font-weight: 900;
	margin: 10px 0;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

a {
	color: inherit;
	transition: color $animation-instant;

	&:hover {
		color: $primary-color;
	}
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	font-family: $font-sans;
	padding: 15px;
	background-color: #111;

	& > a {
		color: inherit;
		text-decoration: none;
	}

	h1 {
		color: #FFF;
		transition: color $animation-instant linear;

		&:hover {
			color: $primary-color;
		}
	}

	nav {
		font-size: 0.8em;

		a {
			text-decoration: none;
			margin-right: 15px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.pull-right {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.page {
	&-info {
		margin-top: 10px;
		text-align: right;
	}

	&-date, &-author {
		opacity: 0.5;
	}
}