---
---

// Colors
$color-primary: #7BF;
$color-black: #111;
$color-white: #FFF;
$color-grey: #303030;

// Fonts
$font-sans: 'Lato', sans-serif;
$font-serif: 'Merriweather', serif;

// Animation speeds
$animation-instant: 0.2s;

@import "bourbon/bourbon";
@import "neat/neat";

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: $font-serif;
	font-size: 130%;
	padding-top: 200px;
	padding-bottom: 150px;
	background-color: $color-white;
	color: $color-grey;

	& > header, section, footer {
		padding-left: 10%;
		padding-right: 10%;
	}
}

h1, h2, h3, h4 {
	font-family: $font-sans;
	font-weight: 900;
	margin: 10px 0;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

a {
	color: inherit;
	transition: color $animation-instant;

	&:hover {
		color: $color-primary;
	}
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	font-family: $font-sans;
	padding: 15px;
	background-color: #111;

	& > a {
		color: inherit;
		text-decoration: none;
	}

	h1 {
		color: $color-white;
		transition: color $animation-instant linear;
	}

	nav {
		font-size: 0.8em;

		a {
			text-decoration: none;
			margin-right: 15px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 0 10%;
	text-align: center;
	background-color: $color-black;

	a {
		text-decoration: none;

		&:hover {
			color: inherit;
		}
	}
}

.pull-right {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.page {
	&-info {
		margin-top: 10px;
		text-align: right;
	}

	&-date, &-author {
		opacity: 0.5;
	}
}