.forum {
	position: relative;
	background-color: rgba($color-grey, 0.1);
	border-radius: 15px;
	margin: -15px -30px;
	padding: 15px 30px;

	h1, h2, h3, h4 {
		margin: 0;
	}

	p {
		margin-top: 0;
	}

	& > ul {
		padding: 0;
	}

	ul {
		margin: 15px;
		list-style-type: none;

		li {
			border-top: 1px solid rgba($color-grey, 0.1);
			padding: 15px 0;

			p {
				margin: 0;
			}
		}
	}

	.threads {
		padding: 0;
		margin: 15px;

		.thread {
			position: relative;

			.date {
				position: absolute;
				top: 10px;
				right: 0;
				opacity: 0.8;

				@media (max-width: 800px){
					display: none;
				}
			}

			.author {
				opacity: 0.8;

				a {
					text-decoration: none;
				}
			}
		}
	}

	.pager {
		padding: 0;
		margin: 15px;
		text-align: center;

		li {
			display: inline-block;
		}
	}
}

#new-thread-container {
	position: absolute;
	border-radius: inherit;
	z-index: 10;
	right: 15px;
	padding: inherit;
	text-align: right;

	#new-thread {
		font-size: 90%;
		opacity: 0;
		height: 0;
	}

	&:hover, &:focus {
		background-color: #DDD;

		#new-thread {
			opacity: 1;
			height: auto;
		}
	}
}
