// Colors
$color-primary: #7BF;
$color-black: #111;
$color-white: #FFF;
$color-grey: #303030;

// Fonts
$font-sans: 'Lato', sans-serif;
$font-serif: 'Merriweather', serif;

// Animation speeds
$animation-instant: 0.2s;
$animation-fast: 0.5s;
$animation-slow: 1s;