---
layout: forum/default
scripts: [/js/jquery-mustache.js, /js/mustache.js, /js/category.js]
---

<a href="{{site.baseurl}}/forum">Forum</a>
- {% for group in site.pages %}
	{% if group.category-group == true AND group.id == category.groupid %}
		{{ group.title }}
	{% endif %}
  {% endfor %}
- {{ page.title }}</br>

<p>{{ category.summary }}</p>

<div id="new-thread-container">
	<b>Create New Thread</b>

	<form id="new-thread" role="form" action="{{ site.baseurl }}/{{ site.forum_baseurl }}thread.html">
		<input type="text" id="thread-ui" placeholder="Enter thread subject" />
		<input type="hidden" name="category" value="{{ page.id }}" />
		<input type="hidden" name="thread" class="thread" value="" />
		<input type="submit" value="Create Thread">
		<div class="help-block hidden">&nbsp;</div>
	</form>
</div>

<h3>Threads</h3>
<ul id="threads" class="threads" data-id="{{ page.id }}">
</ul>
<ul class="pager">
	<li class="previous disabled"><a href="#">&larr; Previous</a></li>
	<li class="next disabled"><a href="#">Next &rarr;</a></li>
</ul>
